.main{

    position: relative;

    @media (min-width: $screen-md) and (max-width: $screen-xl){
        margin-left: 24px;
    }

    @media (min-width: $screen-xl){
        margin-left: 34px;
    }
}