.container {
    width: $screen-sm;
    transition-duration: 1s;
    transition-property: opacity;
    transition-timing-function: ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &--opacity{
        opacity: 0;
    }

    @media (min-width: $screen-md) and (max-width: $screen-xl){
        width: $screen-md;
    }
    
    @media (min-width: $screen-xl) {
        width: $main-window ;
        margin: 0 auto;
    }
}