.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 100%;
    padding: 0 24px 0 24px;
    background: $color-secondary;
    position: fixed;
    top: 0;
    left: 0;
    color: $text-color;
    transition-duration: 500ms;
    transition-property: transform;
    transition-timing-function: ease;

    @media  (max-width: $screen-xl){
    left: -320px;
    }

    &--visible{
        @media  (max-width: $screen-xl){
          box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
          z-index: 1;
          transform: translateX(320px);
      }
    }

    &__items-top{
        margin: 19px 0 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: $screen-xl) {
            margin-top: 30px;
        }
    }

    &__item-top--hidden{
        @media (min-width: $screen-xl){

            display: none;
        }
    }

    &__logo {
        flex-grow: 0.6;
    }

    &__nav {
        flex-grow: 3;
    }
    
    &__items {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__item {
        position: relative;
        padding: 5px 0;
        font-family: $font-family--Medium;
        font-size: $font-size;
        line-height: $line-height;
        color: $text-color;
        transition: all 250ms;

        &::before {
            content: "";
            transition: all 250ms;
          }

        &:hover {
            color: $text-color--muted;
        }
        &:hover::before {
            content: "";
            position: absolute;
            left: -24px;
            top: -1px;
            width: 4px;
            height: 32px;
            background: $color-activ;
            border-radius: 0 8px 8px 0;
        }
    }
    
    &__item--active--grey {
        color: $text-color--muted;
    
        &::before {
            content: "";
            position: absolute;
            left: -24px;
            top: -1px;
            width: 4px;
            height: 32px;
            background: $color-activ;
            border-radius: 0 8px 8px 0;
        }
    }

    &__nav-bottom {
        flex-grow: 0.2;
    }
    
    &__items-bottom {
        display: flex;
        gap: 16px;
    }
}