.description{
    height: 140px;
    overflow: hidden;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition-duration: 1s;
    transition-property: height;
    transition-timing-function: ease;

    &--full{
        height: 500px;
    }
    
    @media (min-width: $screen-md) {
        width: 312px;
        height: 160px;
        margin: 0;
        &--full{
            height: 450px;
        }
    }


    @media (min-width: $screen-xl) {
        width: 500px;
        margin: 10px 0 0 0;
        height: 210px;
        transition-duration: 500ms;

        &--full{
            height: 330px;
        }
    }

    &__info {
        font-family: $font-family--Regular;
        font-size: $font-size;
        line-height: $line-height;
        color: $text-color;
    }
    
}
