.aside-tel{
    background-color: $color-secondary;
    padding: 24px 16px;
    width: 320px;
    height: 100%;
    position: fixed;
    top: 0;
    right:-320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    transition-duration: 500ms;
    transition-property: transform;
    transition-timing-function: ease;

    @media (min-width: $screen-md)  {
        padding: 32px 30px;
        width: 440px;
        right:-510px;
    }

    &--visible{
        box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
        transform: translateX(-320px);

        @media (min-width: $screen-md)  {
            transform: translateX(-510px);
        }
    }
    
    &__button-clouse{
        @media (min-width: $screen-md)  {
            position: absolute;
            left:-64px;
        }
    }

    &__title {
        font-family: $font-family--Bold;
        font-size: $font-size--tel;
        line-height: $line-height--tel;
        color: $text-color;
        margin: 40px 0 24px 0;
        position: relative;

        @media (min-width: $screen-md)  {
            margin: 4px 0 24px 0;

        }

        &::before{
            content: "";
            background: $color-activ;
            position: absolute;
            left: -16px;
            top: -4px;
            border-radius: 0 4px 4px 0;
            height: 40px;
            width: 4px;

            @media (min-width: $screen-md)  {
                left: -32px;
            }
        }
    }

    &__input{
        display: flex;
        justify-content: start;
        flex-direction: column;
        flex-grow: 1;
    }

    &__text{
        height: 50px;
        border: 1px solid $color-separator;
        border-radius: 8px;
        margin-bottom: 16px;
        font-family: $font-family--Regular;
        font-size: $font-size;
        line-height: $line-height;

        &::-webkit-input-placeholder {
            position: absolute;
            top:12px;
            left:16px;
        }

        @media (min-width: $screen-md)  {
            width: 376px;
        }
        
    }
    &__info{
        font-family: $font-family--Regular;
        font-size: $font-size--p;
        line-height: $line-height--table-title;
        color: $text-color--muted;
        margin-bottom: 20px;

        &--activ{
            color: $color-button;
        }
    }
    &__button{
        align-self: end;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 130px;
        height: 32px;
        border-radius: 16px;
        background: url('../img/submit.svg');
        font-family: $font-family--Bold;
        color: $color-secondary;
        font-size: 12px;
        line-height: $line-height;
    }
}