.logo {
    width: 96.55px;
    height: 50.81px;

    &--visible{
        display: block;
        width: 97px;
        height: 51px;
    }
    @media (min-width: $screen-md) and (max-width: $screen-xl){
            display: flex;
            justify-content: center;
    }
    
    @media (min-width: $screen-xl) {
            display: none;
    }
}
