.info {
    font-family: $font-family--Regular;
    font-size: $font-size;
    line-height: $line-height;
    flex-grow: 1;

    &__mail {
        margin-bottom: 12px;
    }

    &__tel {
        font-family: $font-family--Bold;
        font-size: $font-size--tel;
        line-height: $line-height--tel;
    }   
}