.button {
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $color-button;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms;

    &:hover {
        opacity: 0.8;
    }
}