.section-slide{
    overflow: hidden;
    margin-left: 16px;
    
    @media (min-width: $screen-md) and (max-width: $screen-xl){
        width: $screen-md - 24px;
        margin: 0 0 32px 0 ;

    }

    @media (min-width: $screen-xl) {
        width: $main-window - 34px;
        margin: 0 0 50px 0 ;
    }

    &:last-child{
        margin-bottom: 40px;
    }

    &__title {
        font-family: $font-family--Regular;
        text-transform: uppercase;
        font-size: $font-size;
        line-height: $line-height;
        color: $text-color--muted;
        background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
        padding: 16px 0px;
        margin-bottom: 24px;

        @media (min-width: $screen-md){
            padding: 16px 0px;
        }
    }

    &__read-more {
        display: none;
    
        @media (min-width: $screen-md) and (max-width: $screen-xl) {
            display: block;
            font-family: $font-family--Medium;
            margin: 24px 0 20px 10px;
            position: relative;
            padding-left: 24px;
            font-size: $font-size;
            line-height: $line-height;
            background-color: $color-main;

            &::before {
                content: "";
                position: absolute;
                top: 6px;
                left: 0;
                background: url("../img/icon.svg") no-repeat;
                width: 10px;
                height: 12px;
                transition-duration: 1s;
            }

        }

        @media (min-width: 1120px) {
            display: block;
            font-family: $font-family--Medium;
            position: relative;
            padding-left: 24px;
            margin: 24px 0 20px 10px;
            font-size: $font-size;
            line-height: $line-height;
            background-color: $color-main;

            &::before {
                content: "";
                position: absolute;
                top: 6px;
                left: 0;
                background: url("../img/icon.svg") no-repeat;
                width: 10px;
                height: 12px;
                transition-duration: 500ms;
            }
        }

        &--active::before {
            @media (min-width: $screen-md) {
                transform: rotate(180deg);
            }
        }
    }
    &__table-header{

        display: none;

        @media (min-width: $screen-md) and (max-width: $screen-xl) {
            display: flex;
            justify-content: space-between;
            color: $text-color--muted;
            font-family: $font-family--Regular;
            font-size: $font-size--p;
            line-height: $line-height--table-title;
            padding: 16px 16px;
        }

        @media (min-width: $screen-xl){
            display: flex;
            justify-content: space-between;
            color: $text-color--muted;
            font-family: $font-family--Regular;
            font-size: $font-size--p;
            line-height: $line-height--table-title;
            padding: 16px 16px;
        }
    }


    &__time{

        @media (min-width: $screen-md) and (max-width: $screen-xl) {
        display: flex;
        flex-grow: 0.44;
        gap: 65px;
        }

        @media (min-width: $screen-xl){
            display: flex;
            flex-grow: 0.44;
            gap: 192px;
        }
    }
    &__info{
        font-family: $font-family--Regular;
        font-size: $font-size--p;
        line-height: $line-height--p;
        color: $text-color;
        margin-bottom: 16px;

        @media (min-width: $screen-md){
            width: 420px;
        }

    }
    &__link{
        font-family: $font-family--Medium;
        font-size: $font-size;
        line-height: $line-height;
        display: flex;
        color: $text-color;
    }
    &__arrow{
        padding: 0 10px;
    }
}
