.footer{
    border-top: 1px solid $color-hover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    padding: 16px 0;

    @media (min-width: $screen-md) and (max-width: $screen-xl){
        flex-direction: row;
        padding:32px 24px;
    }

    @media (min-width: $screen-xl){
        flex-direction: row;
        padding-left: 32px 34px;
    }

    &__info{
        font-family: $font-family--Regular;
        font-size: $font-size--p;
        line-height: $line-height--table-title;
        text-align: center;
        color: $text-color--muted;

        @media (min-width: $screen-md) and (max-width: $screen-xl){
            text-align: left;
            width: 220px;

            &:last-child{
                text-align: right;
            }
        }

        @media (min-width: $screen-xl){
               text-align: left;
                width: 220px;

                &:last-child{
                text-align: right;
                width: 330px;
            }
        }
    }
}