.lang {
    margin-bottom: 32px;

    &__label {
        font-family: $font-family--Regular;
        font-size: $font-size;
        line-height: $line-height;
        transition: color 250ms;

        :hover {
            color: $text-color--muted;
        }
    }
    
    &__radio:checked + .lang__label {
        color: $text-color--muted;
    }
}