
@import "nulling-styles.scss";
@import "normalize.css";
@import "../../node_modules/swiper/swiper-bundle.css";

@font-face {
  font-family: "TT Lakes Regular";
  src: url("../fonts/TTLakes-Regular.eot");
  src: url("../fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Regular.woff") format("woff"),
    url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("../fonts/TTLakes-Medium.eot");
  src: url("../fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/TTLakes-Medium.woff") format("woff"),
  url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Bold";
  src: url("../fonts/TTLakes-Bold.eot");
  src: url("../fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/TTLakes-Bold.woff") format("woff"),
  url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import "variables.scss";
@import "./body/body.scss";
@import "./main/main.scss";
@import "./container/container.scss";
@import "./header/header.scss";
@import "./menu/menu.scss";
@import "./button/button.scss";
@import "./logo/logo.scss";
@import "./title/title.scss";
@import "./nav/nav.scss";
@import "./section/section.scss";
@import "./description/description.scss";
@import "./aside/aside.scss";
@import "./info/info.scss";
@import "./text/text.scss";
@import "./lang/lang.scss";
@import "./section-slide/section-slide.scss";
@import "./slider-brands/slider-brands.scss";
@import "./slider-tech/slider-tech.scss";
@import "./slider-price/slider-price.scss";
@import "./ticket/ticket.scss";
@import "./footer/footer.scss";
@import "./aside-connection/aside-connection.scss";
@import "./aside-tel/aside-tel.scss";