$color-main:              #f8f8f8;
$color-secondary:         #ffffff;
$color-separator:         #eaeaea;
$color-activ:             #41f6d7;
$color-hover:             #b8ffec;
$color-button:            #ff3e79;

$text-color:              #1b1c21;
$text-color--muted:       #7e7e82;

$font-size:                16px;
$font-size--p:             14px;
$font-size--tel:           24px;
$font-size--h1:            28px;

$line-height:              24px;
$line-height--table-title: 16px;
$line-height--p:           20px;
$line-height--tel:         32px;
$line-height--h1:          40px;

$font-family--Regular:     TT Lakes Regular;
$font-family--Medium:      TT Lakes Medium;
$font-family--Bold:        TT Lakes Bold;

$screen-sm:                320px;
$screen-md:                768px;
$screen-xl:                1440px;

$main-window:              1120px;