.slider-tech {
    height: 200px;

    @media (min-width: $screen-md) and (max-width: $screen-xl) {
        overflow: hidden;
        height: 160px;
        transition-duration: 1s;
        transition-property: height;
        transition-timing-function: ease;

        &--full {
            height: 520px;
        }
    }

    @media (min-width: $screen-xl){
        overflow: hidden;
        height: 160px;
        transition-duration: 1s;
        transition-property: height;
        transition-timing-function: ease;
        
        &--full {
            height: 340px;
        }
    }

    &__list{
        display: flex;

        @media (min-width: $screen-md) and (max-width: $screen-xl) {
            display: flex;
            justify-content: start;
            row-gap: 16px;
            column-gap: 24px;
            flex-wrap: wrap;
        }

        @media (min-width: $screen-xl) {
            flex-wrap: wrap;
            justify-content: start;
            row-gap: 16px;
            column-gap: 34px;
        }
    }

    &__link{
        position: relative;
        display: flex;
        width: 260px;
        height: 160px;
        justify-content: space-between;
        align-items: center;
        background: $color-secondary;
        border: 1px solid $color-separator;
        border-radius: 6px;

        &:hover {
            border: 1px solid $color-activ;
        }

        @media (min-width: $screen-md) and (max-width: $screen-xl) {
            width: 226px;
        }
        @media (min-width: $screen-xl) {
            width: 240px;
        }
    }

    &__wrapper{
        position: absolute;
        top: 16px;
        left: 0px;
        margin-left: 16px;
    }

    &__arrow{
        position: absolute;
        bottom: 16px;
        right: 0px;
        display: flex;
        width: 40px;
        height: 40px;
        border: 2px solid $color-button;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
    }
    
    &__title {
        font-family: $font-family--Medium;
        font-size: $font-size;
        line-height: $line-height;
        color: $text-color;
    }
}