.nav{
    
    &__list {
        display: flex;
        overflow: auto;
        -ms-overflow-style: none;
        margin: 0 0 8px 16px;
        &::-webkit-scrollbar {
            width: 0;
        }
        
        @media (min-width: $screen-md) {
            margin: 0 0 12px 0px;
        }
        
        @media (min-width: $screen-xl) {
            margin: 0 0 12px 0px;
            display: flex;
            flex-wrap: wrap;
        }
    }
    
    &__link{
        display: block;
        background: $color-main;
        padding: 10px 10px 10px 17px;
        font-family: $font-family--Medium;
        white-space: nowrap;
        font-size: $font-size;
        line-height: $line-height;
        color: $text-color--muted;
        
        &:hover {
            background: $color-secondary;
            padding: 8px 8px 8px 15px;
            border: solid $color-hover 2px;
            border-radius: 5px;
        }
    }
}